body {
    font-family: Arial, sans-serif;
    background-color: #437db7;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
    min-width: 80%;
    margin: 0 auto;
    background-color: #949292;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: max-content;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    gap: 15px;
}
audio{
    width: 150px;
}

li:last-child {
    border-bottom: none;
}

li:nth-child(odd) {
    background-color: #f9f9f9;
}
